%form{ :action => "", :method => "post"}
  %fieldset
    %label{:for => "title"} Title:
    %input{:type => "text", :name => "title", :class => "text"}

    %label{:for => "text"} Text:
    %textarea{:name => "text"}

    %label{:for => "tags"} Tags:
    %input{:type => "text", :name => "tags", :class => "text"}

    %label{:for => "OTP"} One Time PIN:
    %input{:type => "text", :name => "OTP", :class => "text"}		

  %input{:type => "submit", :value => "commit", :class => "button"}
