%script{:type=>"text/javascript", :src=>"/jquery-1.7.1.js"}
%script{:type=>"text/javascript", :src=>"/jquery-ui-1.8.18.custom.min.js"}
%script{:type=>"text/javascript", :src=>"/javascript.js"}
:javascript
  $(document).ready( get_note_text );

%body
  %ul
    =list_of(@tagged_noteset) do |note|
      -haml_tag(:a, html_escape( note_link_text(note) ), { :class=>"link_to_note", :href=>"/#{note['_id']}" })
      %div{:id=>"#{note['_id']}"}
